# Configuration Jira
JIRA_URL=jira_url
JIRA_USERNAME=your-username
JIRA_API_TOKEN=your-password
JIRA_PROJECT_KEY=TEST
JIRA_ISSUE_TYPE=Incident

# Configuration de l'application
PORT=5000
DEBUG=False

# Configuration du monitoring des APIs
# Format: URL|NOM_API,URL|NOM_API (séparées par des virgules)
MONITORED_APIS=http://api1.example.com|API-User-Service,http://api2.example.com:8080|API-Payment-Service,http://api3.example.com:9000|API-Notification-Service
HEALTH_CHECK_INTERVAL=30
HEALTH_CHECK_TIMEOUT=10
HEALTH_CHECK_RETRY=3

# Configuration des tickets Jira
TICKET_SUMMARY_PREFIX=[CRITICAL] API DOWN
TICKET_DESCRIPTION_MESSAGE=L'API ne répond plus aux health checks

# Support Prometheus supprimé pour le moment
